<span id="breadcrumbs">
    {%- assign crumbs = page.url | remove:'/index.html' | split: '/' -%}
    <a href="/">Home</a>

    {% assign is_repo_docs_url = false %}
    {% if page contains "repo_name" %}
      {% assign is_repo_docs_url = true %}
    {% endif %}

    {% for crumb in crumbs offset: 1 %}
      {%- assign crumb_limit = forloop.index | plus: 1 -%}
      {%- capture crumb_url -%}
        {%- for crumb in crumbs limit: crumb_limit -%}
          {{ crumb | append: '/' }}
        {%- endfor -%}
      {%- endcapture -%}

      {%- assign p = site.pages | where:"url", crumb_url | first -%}
      {%- assign crumb_title = "" -%}

      {%- if is_repo_docs_url and crumb_limit == 4 -%}
        {%- assign crumb_title = page.repo_name -%}
        {%- assign crumb_url = nil -%}
      {%- elsif is_repo_docs_url and crumb_limit == 5 -%}
        {%- assign crumb_title = page.repo_tag -%}
      {%- elsif forloop.last -%}
        {%- assign crumb_title = page.title -%}
      {%- elsif p and p contains "title" -%}
        {%- assign crumb_title = p.title -%}
      {%- else -%}
        {%- assign crumb_title = crumb | replace:'-',' ' | remove:'.html' | capitalize -%}
        {%- assign crumb_url = nil -%}
      {%- endif -%}

      {%- if forloop.last -%}
        {%- assign crumb_url = nil -%}
      {%- endif -%}

      {% if crumb_url %}
        / <a href="{{crumb_url}}">{{ crumb_title }}</a>
      {% else %}
        / {{ crumb_title }}
      {% endif %}
    {% endfor %}
</span>
