<div class="container-fluid footer-nav-fluid">
    <footer class="row footer-nav">
        <div class="col-md-12">
            <div class="row after-footer">
                <div class="col-md-9 footer-nav-menu pull-left">
                    <nav id="footer-navigation" class="secondary-navigation" role="navigation">
                        <h1 class="menu-toggle sr-only">Footer Menu</h1>

                        <div class="menu-footer-container">
                            <ul id="menu-footer" class="list-inline dividers">
                                <li id="menu-item-footer-1" class="menu-item"><a class="smoothscroll" title="Back to top of page" href="#pagetop"><span class="fa fa-angle-up"></span> Top</a></li>
                                <li id="menu-item-footer-2" class="menu-item"><a title="Home" href="/">Home</a></li>
                                <li id="menu-item-footer-3" class="menu-item"><a title="License" href="/license/">License</a></li>
                                <li id="menu-item-footer-4" class="menu-item"><a title="Cookie Policy" href="/cookies/">Cookie Policy</a></li>
                                <li id="menu-item-footer-5" class="menu-item"><a title="Privacy Policy" href="/privacy-policy/">Privacy Policy</a></li>
                                <li id="menu-item-footer-6" class="menu-item"><a title="Signup for newsletter" href="/signup/">Sign up for newsletter</a></li>
                                <li id="menu-item-footer-7" class="menu-item"><a title="feedback" href="/about/feedback/">Feedback</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="improve">
                        {% assign edit_repo = "bitcraze-website" %}
                        {% assign edit_repo_base = "src" %}
                        {% assign edit_repo_path = page.path %}

                        {% if page contains "repo_name" %}
                            {% assign edit_repo = page.repo_name %}
                            {% assign edit_repo_base = "docs" %}
                            {% assign capture edit_repo_path = page.path | remove_first: "docs/" | remove_first: page.repo_name |  remove_first: '/' | remove_first: page.repo_tag |remove_first: '/' %}
                        {% endif %}
                        <a href="https://github.com/bitcraze/{{edit_repo}}/edit/master/{{edit_repo_base}}/{{edit_repo_path}}"><i class="fa fa-pencil"></i> &nbsp;Improve this page</a>
                    </div>
                </div>

                <div id="site-credits" class="col-md-3 site-credits pull-right text-right">
                    <span class="credits-copyright">&copy; 2020
                        <a href="/" rel="home">Bitcraze
                        AB</a>
                    </span>
                    <a href="/" rel="home"><img src="/images/footerLogo.png" alt="Bitcraze logo"/></a>
                </div>
            </div>
        </div>
    </footer>
</div>
