<footer class="site-footer-redesign">
  <div class="container footer-links-container">
    <div class="row">

      <div class="col-6 col-md-3 footer-col">
        <h5 class="footer-col-heading">Applications</h5>
        <ul class="footer-col-links">
          <li><a href="/applications/autonomous-systems/">Autonomous Systems</a></li>
          <li><a href="/applications/aerial-manipulation/">Aerial Manipulation</a></li>
          <li><a href="/applications/perception-navigation/">Perception & Navigation</a></li>
          <li><a href="/applications/swarm-robotics/">Swarm Robotics</a></li>
          <li><a href="/applications/human-robot-interaction/">Human-Robot Interaction & Education</a></li>
          <li><a href="/applications/stem-education/">STEM & Higher Education</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 footer-col">
        <h5 class="footer-col-heading">Trust &amp; Legal</h5>
        <ul class="footer-col-links">
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/cookies/">Cookie Policy</a></li>
          <li><a href="/open-source-philosophy/">Bitcraze Open Source Philosophy</a></li>
          <li><a href="/license/">License</a></li>
          <li><a href="/about/press/">Press</a></li>
          <li><a href="/about/credits/">Credits</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 footer-col">
        <h5 class="footer-col-heading">Cooperation</h5>
        <ul class="footer-col-links">
          <li><a href="/signup/">Sign up for newsletter</a></li>
          <li><a href="/about/distributors/">Distributors</a></li>
          <li><a href="/about/partners/">Partners</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 footer-col">
        <h5 class="footer-col-heading">Support</h5>
        <ul class="footer-col-links">
          <li><a href="/about/feedback/">Feedback</a></li>
          <li><a href="/support/f-a-q/">FAQ</a></li>
          <li><a href="/support/troubleshooting/">Troubleshooting</a></li>
          <li><a href="/support/downloads/">Downloads</a></li>
          <li><a href="https://discussions.bitcraze.io">GitHub Discussions</a></li>
        </ul>
      </div>

    </div>
  </div>

  <hr class="footer-divider">

  <div class="container footer-bottom-container">
    <div class="row align-items-center">

      <div class="col-12 col-md-auto footer-social-block">
        <span class="footer-social-label">Follow us on social media:</span>
        <div class="footer-social-icons">
          <a href="https://github.com/bitcraze" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/company/bitcraze-ab/" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.youtube.com/@BitcrazeVideos" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
          <a href="https://bsky.app/profile/bitcraze.io" aria-label="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
          <a rel="me" href="https://fosstodon.org/@bitcraze" aria-label="Mastodon"><i class="fa-brands fa-mastodon"></i></a>
          <a href="/feed/" aria-label="RSS" data-proofer-ignore><i class="fa-solid fa-rss"></i></a>
        </div>
      </div>

      <div class="col-12 col-md footer-logo-block text-md-end">
        <a href="/" rel="home">
          <img src="/images/nav/navbar-logo.webp" alt="Bitcraze logo" class="footer-logo"/>
        </a>
      </div>

    </div>
  </div>
</footer>
