<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} | Bitcraze</title>
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="alternate" type="application/rss+xml" title="Bitcraze » Feed" href="/feed/">

    <link rel='stylesheet' href='/css/kraken.css' type='text/css' media='all' />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700' type='text/css' media='screen' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type='text/javascript' src='/js/jquery.smooth-scroll.min.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
</head>

