<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page contains "no_search_index" and page.no_search_index %}
    <meta name="robots" content="noindex, nofollow" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="Bitcraze » Feed" href="/feed/" data-proofer-ignore>
    <link rel="alternate" type="application/rss+xml" title="Bitcraze » Comments Feed" href="/comments/feed/" data-proofer-ignore>
    <!-- Load KaTeX CSS. Note this must match the version of katex in the docker-web-builder -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.3/katex.min.css" type='text/css' media='all'>
    <link rel='stylesheet' href='/css/kraken.css?t={{ site.time | date: "%Y%m%d-%H%M%S"}}' type='text/css' media='all' />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,500,600,700|Droid Sans:300,400,700;' type='text/css' media='screen' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type='text/javascript' src='/js/jquery.smooth-scroll.min.js'></script>

    <script type='text/javascript' src='/js/cookiepopup.js?t={{ site.time | date: "%Y%m%d-%H%M%S"}}'></script>
    <script type='text/javascript' src='/js/kraken.js?t={{ site.time | date: "%Y%m%d-%H%M%S"}}'></script>
    <script>
        window.addEventListener("DOMContentLoaded", function(){
            cookiepopup.start();
        });
    </script>

    <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
    <!-- inject wp header title begin -->
    <title>{{page.title}} | Bitcraze</title>
    <!-- inject wp header title end -->
</head>
