{% assign portalheader = include.portalheader %}
{% assign portalimg = include.portalimg %}
{% assign portaltext = include.portaltext %}
{% assign portalexample = include.portalexample %}
{% assign portallink = include.portallink %}


<div class="container-fluid portal-right">
    <div class="row content-area">
        <div class="hidden-sm col-md-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-content-center">
            <h2>{{portalheader}}</h2>
            <span>{{ portaltext | markdownify }}</span>
            <span class="portalexample">{{ portalexample | markdownify }}</span>

            <div class="learn-more">
                <a href="{{portallink}}">
                    <span class="fa-stack fa-lg">
                        <i class="fa-regular fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-plus fa-stack-1x"></i>
                    </span>
                    Learn more
                </a>
            </div>
        </div>

        <div class="hidden-xs col-sm-4 col-md-4">
            <img src="{{portalimg}}" class="img-responsive img-circle" alt="portalheader"/>
        </div>
    </div>
</div>
