<div class="navbar-collapse collapse">
    <ul id="menu-newmenuqnd" class="nav navbar-nav">
        {% for top_menu in site.data.menu %}
        <li class="menu-item">
            {% if top_menu.subs %}
            <a title="{{top_menu.title}}" href="#"
               data-target="#" data-toggle="dropdown"
               class="dropdown-toggle">{{top_menu.title}}<span class="caret"></span></a>
            {% include menu_ul.html items=top_menu.subs %}
            {% else %}
            {% assign p = site.pages | where:"title",top_menu.title | first %}
            <a title="{{p.title}}" href="{{p.url}}">{{p.title}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>