<div class="navbar-collapse collapse" id="navbar-menu">
    <ul id="menu-newmenuqnd" class="navbar-nav">
        {% for top_menu in site.data.menu %}
            {% assign is_active = false %}

            {% if page contains "page_id" %}
                {% if top_menu contains "subs" %}
                    {% assign p = top_menu.subs | where:"page_id",page.page_id | first %}
                    {% if p != nil %}
                        {% assign is_active = true %}
                    {% endif %}
                {% else %}
                    {% if top_menu.page_id == page.page_id %}
                        {% assign is_active = true %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <li class="nav-item {% if top_menu contains 'subs' %}dropdown{% endif %} {% if is_active %}active{% endif %}">
                {% if top_menu contains "subs" %}
                <a title="{{top_menu.title}}" href="#"
                   data-bs-toggle="dropdown"
                   class="nav-link dropdown-toggle"
                   aria-expanded="false">{{top_menu.title}}</a>
                    {% capture _menu_icon %}{% if top_menu contains "icon" %}{{top_menu.icon}}{% endif %}{% endcapture %}
                    {% include menu_ul.html subs=top_menu.subs title=top_menu.title icon=_menu_icon %}
                {% else %}
                    {% assign p = site.pages | where:"page_id",top_menu.page_id | first %}
                <a title="{{p.title}}" href="{{p.url}}" class="nav-link">{{p.title}}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
