<div class="container-fluid navigation-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav id="site-navigation" class="main-navigation navbar navbar-expand-lg"
                 role="navigation">
                <!-- Logo - Left -->
                <div class="navbar-brand">
                    <a href="/" rel="home"> <img
                            src="/images/nav/navbar-logo.webp"
                            alt="Bitcraze logo"
                            title="Bitcraze"/></a>
                </div>

                <!-- Mobile toggle button -->
                <button type="button" class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbar-menu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu items - Center -->
                <div class="navbar-menu-center">
                    {% include menu.html %}
                </div>

                <!-- Store button - Right -->
                <div class="navbar-end ms-auto">
                    <a href="https://store.bitcraze.io/" class="btn btn-primary btn-block btn-color-secondary">
                        <i class="fa-solid fa-cart-shopping fa-fw"></i> Store
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
