<div class="container-fluid navigation-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav id="site-navigation" class="main-navigation"
                 role="navigation">
                <div class="navbar navbar-default navbar-static-top">
                    <div class="navbar-brand">
                        <a href="/" rel="home"> <img
                                src="/images/nav/navLogo.png"
                                alt="Bitcraze logo"
                                title="Bitcraze"/></a></div>

                    <div class="navbar-right navbar-menu-section">
                        <div class="navbar-social-search">
                            <div class="social-bar">
                                <a href="https://github.com/bitcraze"><i
                                    class="fa fa-github-alt"></i></a>
                                <a href="https://x.com/bitcraze_se">	
                                    <i style="color:white;">&#120143;</pi></a> <!--todo: replace and update once this is intergrated in fork awsome-->
                                <a href="https://instagram.com/bitcraze"><i
                                        class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/bitcraze-ab/"><i
                                    class="fa fa-linkedin"></i></a>
                                <a href="https://www.facebook.com/bitcraze"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="/feed/" data-proofer-ignore><i
                                        class="fa fa-rss"></i></a>          
                            </div>
                            <form role="search" method="get"
                                  class="search-form form-inline"
                                  action="/">
                                <div class="form-group">
                                    <label>
                                        <span class="screen-reader-text sr-only">Search for:</span>
                                        <i class="fa fa-search"></i>
                                        <input type="search"
                                               class="search-field form-control"
                                               placeholder="Search &hellip;"
                                               value="" name="s">
                                    </label>
                                    <input type="submit"
                                           class="search-submit btn btn-primary"
                                           value="Search">
                                </div>
                            </form>
                        </div>

                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {% include menu.html %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
