/.sass-cache
/_site
/bootstrap
/tmp

/src/bootstrap-js
/src/.jekyll-metadata
/.project
src/javascripts/bootstrap/
src/fonts/bootstrap/
src/javascripts/bootstrap-sprockets.js
src/javascripts/bootstrap.js
src/javascripts/bootstrap.min.js
src/_data/docs_menu.yml
src/_data/docs_tag_list.yml
src/documentation/repository/*
!src/documentation/repository/index.md
src/.jekyll-cache
src/images/ditaa