---
layout: page-base
---

<div class="container-fluid content-header-fluid">
    <header class="row content-header">
        <div class="col-md-12">
            <h1 class="page-title">{{page.title}}</h1>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12 breadcrumbs">
            <span class="docs-version-dropdown">
                Repository documentation: <b>{{page.repo_name}}</b>
                <input id="docs-version-check" type="checkbox" name="menu" />
                [ <label for="docs-version-check">{{page.repo_tag}}</label>
                <versionitems class="docs-version-dropdown-submenu">
                    {% for tag in site.data.docs_tag_list[page.repo_name] %}
                        {% if page.repo_tag != tag %}
                            {% assign parts = page.url | remove: '.html' | replace: '//', '/' | split: page.repo_tag %}
                            {% assign url = parts[0] | append: tag | append: '/index/' %}
                            , <a href="{{url}}">{{tag}}</a>
                        {% endif %}
                    {% endfor %}
                </versionitems>
                ]
            </span>
        </div>
    </div>
</div>
<div class="container-fluid" >
    <section id="primary" class="row content-area" >
        <div class="col-md-4 docs_menu">
            <nav class="hidden-print">
                {% include docs_menu.html repo_name=page.repo_name %}
            </nav>
        </div>
        <div class="col-md-8" data-searchable="true">
            {{ content }}
        </div>
    </section>
</div>
