---
layout: page-base
---

<div class="container-fluid content-header-fluid repo-docs-header">
    <header class="row content-header">
        <div class="col-md-12">
            <h1 class="page-title">{{page.title}}</h1>
        </div>
    </header>
    <div class="row">
        <div class="col-md-9 breadcrumbs">
            {% include breadcrumbs.html %}
        </div>
        <div class="col-md-3 breadcrumbs repo-version">
            <span class="docs-version-dropdown">
                Version:
                <input id="docs-version-check" type="checkbox" name="menu" />
                [ <label for="docs-version-check">{{page.repo_tag}}</label>
                <versionitems class="docs-version-dropdown-submenu">
                    {% for tag in site.data.docs_tag_list[page.repo_name] %}
                        {% if page.repo_tag != tag %}
                            {% assign parts = page.url | split: page.repo_tag %}
                            {% assign url = parts[0] | append: tag | append: '/' %}
                            , <a href="{{url}}">{{tag}}</a>
                        {% endif %}
                    {% endfor %}
                </versionitems>
                ]
            </span>
        </div>
    </div>
</div>
<div class="container-fluid repo-docs-content" >
    <section id="primary" class="row content-area" >
        <div class="col-md-4 repo-docs-menu">
            <nav class="hidden-print">
                {% side_menu 3; page.repo_root_url; "docs_menu"; page.ns %}
            </nav>
        </div>
        <div class="col-md-8" data-searchable="true">
            {{ content }}
        </div>
    </section>
</div>
