---
layout: page-base
---

{% include header-banner.html %}
<div class="container-fluid" data-searchable="true">
    <section id="primary" class="row content-area">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ content }}
           <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                {% for item in page.faq %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion{{ forloop.index }}" href="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">{{ item.question }}</a>
                        </h5>
                    </div>
                    <div id="collapse{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
                        <div class="panel-body">{{ item.answer | markdownify }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
            <p class="text-right">Want to add a FAQ? <a href="https://github.com/bitcraze/bitcraze-website/edit/master/src/{{page.path}}"><i class="fa-solid fa-pencil"></i> &nbsp;Improve this page</a></p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </section>
</div>
