---
layout: page-base
---

{% include header-banner-fulltext.html %}
<div class="container-fluid" data-searchable="true">
    <section id="primary" class="row content-area">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ content }}
           <div class="accordion" id="accordion">
                {% for item in page.faq %}
                <div class="accordion-item">
                    <h5 class="accordion-header" id="heading{{ forloop.index }}">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ forloop.index }}"
                                aria-expanded="false"
                                aria-controls="collapse{{ forloop.index }}">
                            {{ item.question }}
                        </button>
                    </h5>
                    <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse"
                         aria-labelledby="heading{{ forloop.index }}"
                         data-bs-parent="#accordion">
                        <div class="accordion-body">{{ item.answer | markdownify }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
            <p class="text-end">Want to add a FAQ? <a href="https://github.com/bitcraze/bitcraze-website/edit/master/src/{{page.path}}"><i class="fa-solid fa-pencil"></i> &nbsp;Improve this page</a></p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </section>
</div>
