---
layout: page-base
---

<div class="container-fluid content-header-fluid repo-docs-header">
    <header class="row content-header">
        <div class="col-md-12">
            <h1 class="page-title">{{page.title}}</h1>
        </div>
    </header>
    <div class="row">
        <div class="col-12 col-md-9 breadcrumbs">
            {% include breadcrumbs.html %}
        </div>
        <div class="col-12 col-md-3 breadcrumbs repo-version">
            {% assign tag_list = site.data.docs_tag_list[page.repo_name] %}
            {% if tag_list.size > 1 %}
                {% assign parts = page.url | split: page.repo_tag %}
                <span class="docs-version-select">
                    <label for="docs-version-select">Version:</label>
                    <select id="docs-version-select" onchange="window.location = this.value;">
                        {% for tag in tag_list %}
                            {% assign url = parts[0] | append: tag | append: '/' %}
                            {% if forloop.first %}
                                {% assign label = tag | append: ' (dev)' %}
                            {% elsif forloop.index0 == 1 %}
                                {% assign label = tag | append: ' (latest release)' %}
                            {% else %}
                                {% assign label = tag %}
                            {% endif %}
                            <option value="{{ url }}" {% if tag == page.repo_tag %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </span>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid repo-docs-content" >
    <section id="primary" class="row content-area" >
        <div class="col-md-4 repo-docs-menu">
            <nav class="d-print-none">
                {% side_menu 3; 2; page.repo_root_url; "docs_menu"; page.ns %}
            </nav>
        </div>
        <div class="col-md-8" data-searchable="true">
            {{ content }}
        </div>
    </section>
</div>
