---
layout: page-base
---

<div class="container-fluid content-header-fluid">
    <header class="row content-header">
        <div class="col-md-12">
            <h1 class="page-title">{{page.title}}</h1>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <span><b>{{page.repo_name}} [{{page.repo_tag}}]</b> repository documentation</span>
        </div>
    </div>
</div>
<div class="container-fluid" >
    <section id="primary" class="row content-area" >
        <div class="col-md-4 docs_menu">
            <nav class="hidden-print">
                {% include docs_menu.html repo_name=page.repo_name %}
            </nav>
        </div>
        <div class="col-md-8" data-searchable="true">
            {{ content }}
        </div>
    </section>
</div>
