$bcGreen: #95C941;
$bcMidGreen: #00cd28;
$bcDarkGreen: #009900;

$bcLightGrey: #ccc;
$bcGrey: #868686;
$bcDarkGrey: #666666;


$menuColor: $bcGreen;
$themeColor: $bcDarkGreen;
$focusColor: #19B798;

$header-font-size: 35px;
$header-height: 90px;

$navbar-social-icon-color: #ddd;

$footer-background-color: #2f2f2f;
$footer-nav-background-color: #222222;
$footer-text-color: white;
$footer-link-color: #ccc;
$footer-hover-color: $bcGrey;


$font-weight: 300;
$font-weight-strong: 400;
$nav-font-weight: 500;

$site-width: 1200px;

$paragraph-line-height: 28px;

$content-area-padding-top: 20px;
$content-area-padding-bottom: 20px;

$table-line-color: $bcLightGrey;