$bcGreen: #95C941;
$bcMidGreen: #00cd28;
$bcDarkGreen: #009900;

$bcLighterGrey: #F1F1F1;
$bcLightGrey: #ccc;
$bcGrey: #868686;
$bcDarkGrey: #666666;


$menuColor: $bcGreen;
$themeColor: $bcDarkGreen;
$focusColor: #19B798;

$header-font-size: 35px;
$header-height: 90px;

$navbar-social-icon-color: #ddd;

$footer-background-color: #2f2f2f;
$footer-nav-background-color: #222222;
$footer-text-color: white;
$footer-link-color: #ccc;
$footer-hover-color: $bcGrey;

$used-by-background-color: $bcLighterGrey;

$font-weight: 300;
$font-weight-strong: 400;
$nav-font-weight: 500;

//$site-width: 1200px;
// New with for new front page
$site-width: 1400px;

$paragraph-line-height: 25px;

$content-area-padding-top: 20px;
$content-area-padding-bottom: 20px;

$table-line-color: $bcLightGrey;

$side-menu-link-color: #444;
$side-menu-background-color: #eee;

$sidebar-background-color: $bcLighterGrey;

$portal-background-color: #FAFFF5;
