.front-page {
  $header-font-size-small-screen: 45px;
  $header-line-height-small-screen: 1.5;

  $header-font-size-medium-screen: 60px;
  $header-line-height-medium-screen: 1.5;

  $header-font-size-big-screen: 75px;
  $header-line-height-big-screen: 1.8;

  $font-weight-front-page: 800;

  $font-size-small-screen: 16px;
  $line-height-small-screen: 1.5;

  $font-size-medium-screen: 18px;
  $line-height-medium-screen: 1.5;

  $font-size-big-screen: 22px;
  $line-height-big-screen: 1.7;

  $header-margin: 4vw;

  $section-margin-small-screen: 5vh;
  $section-margin-big-screen: 15vh;

  img {
  max-width: 100%;
  height: auto;
  }

  .front-top-banner {
  background-image: url("/images/frontpage/front-mobile.jpg");
  background-size: cover;
  background-position: center;
  max-height: 1200px;

    //(≥768px)
    @media (min-width: $screen-sm-min) {
      background-image: url("/images/frontpage/christmas-tree-xpanded.JPG");
      background-repeat-y: no-repeat;
    }
    @media (min-width: $screen-md-min) {
      height: 100vh;
    }
  }

  .with_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

      //992px
      @media (min-width: $screen-md-min) {
        height: 100%;
      }

    .header_text {
      align-self: center;
        h1 {
        font-size: $header-font-size-small-screen;
        line-height: $header-line-height-small-screen;
        font-weight: $font-weight-front-page;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        color:white;
        }

      //992px
      @media (min-width: $screen-md-min) {
        align-self: flex-start;
        flex-grow: 1;
        h1 {
        font-size: $header-font-size-medium-screen;
        line-height: $header-line-height-medium-screen;
        margin-top: 20vh;
        margin-bottom: 2vh;
        text-align: left;
        }
      }

      // ≥1200px
      @media (min-width: $screen-lg-min) {
        h1 {
        font-size: $header-font-size-big-screen;
        line-height: $header-line-height-big-screen;
        }
      }
    }

    .mobile_hidden_button {
      display: none;
      @media (min-width: $screen-md-min) {
          display: block;
      }
    }

    .btn-block {
      margin: auto;
      width: 80%;
      margin-bottom: 20px;

        //≥768px
      @media (min-width: $screen-sm-min) {
        .btn-block {
          margin: auto;
          width: 50%;
          margin-bottom: 20px;
        }
      }
      //992px
      @media (min-width: $screen-md-min) {
        .btn-block {
          width: 100%;
        }
      }
    }

    .header_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
        width: 100%;
        max-width: 400px;
        }

        //992px
        @media (min-width: $screen-md-min) {
          flex-direction: row;
          width: 80%;
          max-width: 550px;
          a {
          width:28%;
          }
        }
        //1200px
        @media (min-width: $screen-lg-min) {
          width: 100%;
          max-width: 600px;
        }
      }

    .header-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;

      @media (min-width: $screen-md-min) {
        flex-direction: row;
      }
    }

    .announcements {
      display: flex;
      align-self:center;
      flex-direction: column;
      justify-content: space-around;
      padding: 2px;
      width: 100%;
      max-width: 400px;
      max-height: 400px;
      color: black;
      background: #000;

      border-color: $bcDarkGrey;
      border-width: 2px;
      border-style: solid;

      img {
        max-width: 100%;
        max-height: 240px;
      }
      h3 {
        font-size: $font-size-medium-screen;
        line-height: $line-height-medium-screen;
        font-weight: $font-weight-front-page;
        text-align: center;
        padding: 5px;
        color: #4c4cd2;
      }
      a {
        align-self: center;
        text-align: center;
      }
      p {
        font-size: $font-size-small-screen;
        line-height: $line-height-small-screen;
        text-align: center;
        padding: 5px;
        margin-bottom: 0;
      }
      //(≥768px)
      @media (min-width: $screen-sm-min) {
        max-width: 400px;
        max-height: 370px;
        p {
          font-size: $font-size-medium-screen;
          line-height: $line-height-medium-screen;
        }
      }
      // ≥992px
      @media (min-width: $screen-md-min) {
        width: 30%;
        max-width: 320px;
        margin-right: 2%;
        align-self:flex-start;
        h3 {
        font-size: $font-size-big-screen;
        line-height: $line-height-big-screen;
        font-weight: $font-weight-front-page;
        text-align: center;
        }
      }
    }

    .header-col-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media (min-width: $screen-md-min) {
        flex-direction: column;
      }
    }

    .value_proposition {
      align-self: flex-end;

      width: 70%;
      color: white;
      text-align: center;
      align-self: center;

      h3 {
      line-height: $line-height-small-screen;
      font-size: $font-size-small-screen;
      font-weight: $font-weight-front-page;
      }
      //≥768px
      @media (min-width: $screen-sm-min) {
      width: 50%;
      align-self: center;
      }
      //992px
      @media (min-width: $screen-md-min) {
      align-self: flex-end;
      background: #4c4cd2;
      width: 30%;
      margin-right: 2%;

        h3 {
        line-height: $line-height-big-screen;
        font-size: $font-size-big-screen;
        font-weight: $font-weight-front-page;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        margin-bottom: 77px;
        }
      }
    }
  }

  //What we do arrow

  .what_we_do_arrow {
    display: none;
    @media (min-width: $screen-md-min) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: white;
      font-size: 20px;
      align-self: center;
      transform: translate(0, 100%);
    }
  }

  .arrow-style {
    color: white;
    font-size: 50px;
  }

  // Call to action buttons
  .btn-color-primary {
    color: black;
    background-color: white;
    border-color: white;
    border-width: 2px;
  }

  .btn-color-secondary {
    background-color:transparent;
    border-color: white;
    border-width: 2px;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .text-block-box {
    p {
      font-size: 15px;
      line-height: $line-height-small-screen;
      text-align: center;
    }

    h3 {
      font-size: $font-size-small-screen;
      line-height: $line-height-small-screen;
      text-align: center;
    }

    padding: 1em;

    // ≥992px
    @media (min-width: $screen-md-min) {
      h3 {
        font-size: $font-size-medium-screen;
        line-height: $line-height-medium-screen;
        text-align: center;
      }
      padding: 2em;
    }

    //1200px
    @media (min-width: $screen-lg-min) {
      p {
        font-size: 20px;
        line-height: $line-height-medium-screen;
        text-align: center;
      }

      h3 {
        font-size: $font-size-big-screen;
        line-height: $line-height-big-screen;
      }
    }
  }

  .section-spacing {
    margin-bottom: $section-margin-small-screen;

    // ≥992px
    @media (min-width: $screen-md-min) {
      margin-bottom: $section-margin-big-screen;
    }
  }

  .section, .section-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .center-section-header{
    display: flex;
    justify-content: center;
  }


  //Blog

    .blog-section {
      margin-top: 2vh;

      h2 {
        text-align: center;
      }

      h3 {
        font-size: 21px;
        text-align: center;
      }

      .aspect-ratio-contatiner {
        height: 0;
        padding-top: 66.66%;
        position: relative;
      }
      .aspect-ratio-inner {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        a{
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
          }
        }
      }

      .blog-title {
        text-align: center;
      }

      .display-menu{
        display: none
      }

      .display-blog {
        display: none;
        @media (min-width: $screen-md-min) {
          display: block;
        }
        border-left: solid 1px $bcLightGrey;
      }

      .display-menu-2 {
        a {
          text-decoration: underline;
        }
        @media (min-width: $screen-md-min) {
          display: none;
        }
      }

      .menu-blog-container {
        margin-top: 0;
        margin-bottom: 14px;
        text-align: right;
        ul > li:nth-child(n+2) {
          border-left: 1px solid #dddddd;
        }

        .menu-item {
          list-style: none;
          display: inline-block;
          font-size: 1.2em;
          font-weight: 400;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      //(≥768px)
      @media (min-width: $screen-md-min) {
        margin-top: $section-margin-small-screen;
        margin-bottom: $section-margin-small-screen;
      }

      // ≥992px
      @media (min-width: $screen-md-min) {
        margin-top: $section-margin-big-screen;
        margin-bottom: 5vh;

        h3 {
          text-align: left;
        }
        .display-menu{
          display: block;
        }
        .blog-container{
          margin-bottom: 10vw;
        }
      }

      // ≥1200px
      @media (min-width: $screen-lg-min) {

        .display-menu{
          display: block;
        }
        .blog-container{
          margin-bottom: 5vw;
        }
      }
    }
    //End blog

    // Product news
    .text-box-product-news {
      background-color: #5b085d;
      color: #fff;
      margin-top: 1em;
      padding-top: 4em;
      padding-bottom: 4em;
    }

    //What we do

    .style-section-header{
      background: black;
      color: white;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2vh;
    }

    .text-box_quadcopter {
      background: #ffa801;
      color: white;
    }
    .text-box_lps {
      background: #3d6de1;
      color: white;
    }
    .text-box_open_source {
      background: #545353;
      color: white;
    }

    //What we do end


  //Testimonials

  .testimonial-section {
    $testimonial-margin: 2vh;

    .flow-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

      .header-padding {
      padding-left: 0px;
      padding-right: 0px;
      }

      .background-wrapper {
      background-color: black;
      padding: 40px;
      margin: -1px;
      }

      .testimonial-item {
      font-size: $font-size-small-screen;
      line-height: $line-height-small-screen;

        article {
        margin-top: $testimonial-margin;
        margin-bottom: $testimonial-margin;
        color: white;
        }
        h4 {
        font-size: $font-size-small-screen;
        line-height: $line-height-small-screen;
        color: white;
        }
      }
    }

    .testimonial-header-text {
    background: #FF0077;
      h3{
      font-size: $font-size-small-screen;
      line-height: $line-height-small-screen;
      font-weight: $font-weight-front-page;
      color: white;
      text-align: center;
      padding: 1em;
      }
    }

    // ≥992px
    @media (min-width: $screen-md-min) {
      .header-padding {
      padding-left: 15px;
      }

      .testimonial-header-text {
        h3 {
        font-size: $font-size-big-screen;
        line-height: $line-height-big-screen;
        font-weight: 500;
        padding-top: 150px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 150px;
        }
      }
    }
  }

  //Portals
  .portal-section {
    .text-box_portals {
      h3,p {
      color: white;
      }
      p {
      font-size: 15px;
      line-height: $line-height-small-screen;
      text-align: center;
      }
      h3 {
      font-size: $font-size-small-screen;
      line-height: $line-height-small-screen;
      text-align: center;
      }
      padding: 1em;
    }

    .text-box_development {
    background: #FD9724;
    }

    .text-box_research {
    background: #9600CC;
    }

    .text-box_education {
    background: #1B7032;
    }

    .text-box_diy {
    background: #FF4400;
    }

    // ≥992px
    @media (min-width: $screen-md-min) {
      .text-box_portals {
        h3 {
        font-size: $font-size-medium-screen;
        line-height: $line-height-medium-screen;
        text-align: center;
        }
        padding: 2em;
      }

      .text-box_development {
      padding-top: 100px;
      padding-bottom: 100px;
      }
      .text-box_research {
      padding-top: 100px;
      padding-bottom: 100px;
      margin-top: 120px;
      }
      .text-box_education {
      padding-top: 100px;
      padding-bottom: 100px;
      margin-top: -120px;
      }
      .text-box_diy {
      padding-top: 100px;
      padding-bottom: 100px;
      }
    }

    //1200px
    @media (min-width: $screen-lg-min) {
      .text-box_portals {
        p {
        font-size: 20px;
        line-height: $line-height-medium-screen;
        text-align: center;
        }
        h3 {
        font-size: $font-size-big-screen;
        line-height: $line-height-big-screen;
        }
      }
    }
  }

    //End portals

    // Section scroller
    .section-scroller {
      position: fixed;
      bottom: 0px;
      left: 100px;
      background: $bcGreen;
      cursor: pointer;
      font-size: 3em;
      padding-left: 0.1em;
      padding-right: 0.1em;
      line-height: 0.8em;
      border-top: solid 1px;
      border-left: solid 1px;
      border-right: solid 1px;
      z-index: 10;
    }

    // box for used by section

    .used_by_box, .used_by_box_text {
        padding: 1%;
        background-color: $used-by-background-color;
        border: 2px solid $body-bg;

        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: filter 2.0s, -webkit-filter 2.0s;
        &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            transition: filter 0.1s, -webkit-filter 0.1s;
        }

        height: 100px;
    }

    .used_by_box {
        img {
          object-position: 50% 50%;
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
    }

    .used_by_box_text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
    }

    @media (min-width: $screen-sm-min) {
        .used_by_box, .used_by_box_text {
            height: 75px;
        }
    }

    @media (min-width: $screen-md-min) {
        .used_by_box, .used_by_box_text {
            height: 100px;
            font-size: 25px;
        }
    }

    @media (min-width: $screen-lg-min) {
        .used_by_box, .used_by_box_text {
            height: 150px;
        }
    }

    //video-style

    .video-style {
      video {
        width: 100%;
        height: auto;
      }

      video::-webkit-media-controls {
        display: none;
        -webkit-appearance: none;
      }
    }
}
