.front-page {
  $font-size-small-screen: 16px;
  $line-height-small-screen: 1.5;
  $line-height-big-screen: 1.8;
  $font-weight-front-page: 800;
  $header-margin: 4vw;

    img {
       max-width: 100%;
       height: auto;
    }
      .front-top-banner {
        background-image: url("/images/frontpage/Flow_breakout.png");
        background-size: 100%;
        background-position: inherit;
        background-repeat: no-repeat;
        height: 100%;
      }
      .header_text {
          h1 {
            font-size: 3em;
            line-height: 1.2em;
            font-weight: 800;
            text-align: center;
            margin-top: 20%;
            margin-bottom: 20%;
            color:white;
        }
      }
      .button {
          display: none;
      }
      .btn-block {
        margin: auto;
        width: 80%;
        margin-bottom: 20px;
      }
      .text-box_value_proposition {
        h3{
          line-height: $line-height-small-screen;
          font-size: $font-size-small-screen;
          font-weight: $font-weight-front-page;
          text-align: center;
          margin-top: 40px;
          padding-left: 10%;
          padding-right: 10%;
          color: white;
        }
          margin-top: 0px;
          padding: 0em;
          height: 0em;
          background: #4c4cd2;
      }
      //≥768px
    @media (min-width: $screen-sm-min) {
      .front-top-banner {
        background-image: url("/images/frontpage/front_2.jpg");
        height: 100%;
      }

      .header_text {
          h1 {
            margin-top: auto;
            font-size: 45px;
            font-weight: 800;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 70px;
        }
      }

      .button {
          display: none;
      }

      .btn-block {
        margin: auto;
        width: 50%;
        margin-bottom: 20px;
      }

      .text-box_value_proposition {
        h3{
          line-height: 27px;
          font-size: 17px;
          font-weight: 800;
          text-align: center;
          margin-top: 20px;
          padding-left: 24%;
          padding-right: 24%;
        }
          margin-top: 0px;
          padding: 0em;
          height: 0em;
      }
    }
    //992px
    @media (min-width: $screen-md-min) {
      .header_text {
          h1 {
            font-size: 60px;
            font-weight: 800;
            text-align: left;
            margin-top: 10vw;
            margin-bottom: 3vw;
            color: white;
          }
      }
      .button {
          display: block;
      }
      .btn-block {
        width: 100%;
      }
      .text-box_value_proposition {
        h3{
          line-height: 28px;
          font-size: 18px;
          font-weight: 800;
          text-align: center;
          padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;
        }
          margin-top: 10vw;
          height: 20vw;
      }
    }

    @media (min-width: 1200px) {
      .text-box_value_proposition {
        h3{
          line-height: 32px;
          font-size: 21px;
          padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;
        }
        margin-top: 10vw;
        }
      }

      @media (min-width: 1400px) {
        .header_text {
          h1 {
            margin-top: 12vw;
            margin-bottom: 3vw;
          }
        }

        .text-box_value_proposition {
          h3{
            line-height: 35px;
            font-size: 22px;
            padding-top: 7%;
            padding-left: 5%;
            padding-right: 5%;
          }
          margin-top: 8vw;
          }
        }

      @media (min-width: 1600px) {

        .header_text {
          h1 {
            font-size: 5em;
            margin-top: 10vw;
            margin-bottom: 3vw;
          }
        }

        .text-box_value_proposition {
          h3{
            line-height: 36px;
            font-size: 22px;
            padding-top: 3vw;
            padding-left: 7%;
            padding-right: 7%;
          }
          margin-top: 15vw;
        }
      }

  //Blog

    .blog-section {
      margin-top: 10vw;
      margin-bottom: 10vw;

      h2 {
        font-size: 25px;
        margin-bottom: $header-margin;
        text-align: center;
      }

      h3 {
        font-size: 21px;
        text-align: center;
      }

      .blog-container{
        margin-bottom: 14vw;
      }

      .blog-img-container {
      //height: 250px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
      }

      img {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
      }

      .display-menu{
        display: none;
      }

      .menu-blog-container {
        margin-top: 30px;
        text-align: right;
        ul > li:nth-child(n+2) {
          border-left: 1px solid #dddddd;
        }

        .menu-item {
          list-style: none;
          display: inline-block;
          font-size: 1.2em;
          font-weight: 400;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      // ≥992px
      @media (min-width: $screen-md-min) {
        h2 {
          margin-bottom: 2vw;
          text-align: left;
        }

        h3 {
          text-align: left;
        }
        .display-menu{
          display: block;
        }
        .blog-container{
          margin-bottom: 10vw;
        }
      }

      // ≥1200px
      @media (min-width: $screen-lg-min) {
        margin-top: 10vw;
        margin-bottom: 10vw;

        .display-menu{
          display: block;
        }
        .blog-container{
          margin-bottom: 5vw;
        }
      }
    }


  //Testimonials

      .testimonial-section {
      $testimonial-margin: 3vw;
      $testimonial-margin-md: 2vw;

      .testimonial-img-container {
        max-width: 432px;
      }

      .testimonial-header-text {
        h3{
          font-size: $font-size-small-screen;
          line-height: $line-height-small-screen;
          font-weight: $font-weight-front-page;
          color: white;
          text-align: center;
          margin-top: 0px;
          margin-bottom: 0px;
        }
          background: #FF0077;
          padding: 1em;
          margin-bottom: $header-margin;
          max-width: 432px;
      }
      .testimonial-header-text-wrapper {
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .testimonial-group {
        margin-top: $testimonial-margin;
        margin-bottom: 10vw;
        font-size: 13px;
        line-height: 20px;

        vertical-align: middle;
        display: flex;
        flex-direction: column;
        align-items: center;

        article {
          margin-top: $testimonial-margin;
          margin-bottom: $testimonial-margin;
        }
        h4 {
          font-size: 14px;
        }
      }
      // ≥992px
      @media (min-width: $screen-md-min) {
        .testimonial-group {
          margin-top: 0;
          margin-bottom: $testimonial-margin;
          font-size: $font-size-small-screen;
          line-height: $line-height-small-screen;

          article {
            margin-top: $testimonial-margin-md;
            margin-bottom: $testimonial-margin-md;
          }
        }
        .testimonial-bottom {
           float: right !important;
           margin-bottom: 15vw;
        }
        .testimonial-header-text {
          padding-bottom: 8vw;
          margin-top: -30%;
          padding-left: 2em;
          padding-right: 2em;
          padding-top: 7vw;
          h3 {
          font-size: 21px;
          line-height: 33px;
          font-weight: 500;
          }
        }
      }

      // ≥1200px
      @media (min-width: $screen-lg-min) {
        .testimonial-header-text {
          margin-top: -30%;
          padding-left: 2em;
          padding-right: 2em;
          h3 {
            line-height: $line-height-big-screen;
            font-size: 22px;
            font-weight: 500;
          }
        }
      }
      @media (min-width: 1600px) {
        .testimonial-header-text {
            padding-left: 3em;
            padding-right: 3em;
        }
      }
    }

      //Portals
      .portal-section {

        .portal-padding {
          padding-left: 0px;
          padding-right: 0px;
        }

      .text-box_portals {
        h3,p {
          color: white;
        }
        p {
          font-size: 15px;
          line-height: $line-height-small-screen;
          text-align: center;
        }
        h3 {
          font-size: 16px;
          line-height: $line-height-small-screen;
          text-align: center;
        }
        padding: 1em;
      }

      .portal-group {
        margin-bottom: 10vw;
      }

      .text-box_development {
          background: #FD9724;
      }

      .text-box_research {
          background: #9600CC;
      }

      .text-box_education {
          background: #1B7032;
      }

      .text-box_diy {
          background: #FF4400;
      }

      // ≥992px
      @media (min-width: $screen-md-min) {
        .text-box_portals {
          p {
            font-size: 16px;
            line-height: $line-height-small-screen;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            line-height: $line-height-small-screen;
            text-align: center;
          }
          padding: 2em;
        }
        .text-box_development {
          padding-top: 9vw;
          padding-bottom: 5vw;
          margin-top: -10vw;
        }
        .text-box_research {
            padding-top: 4vw;
            padding-bottom: 5vw;
            margin-top: 10vw;
        }
        .text-box_education {
          padding-top: 4vw;
          margin-top: -5vw;
        }
        .text-box_diy {
          padding-top: 4vw;
          padding-bottom: 5vw;
        }
      }

      //1200px
      @media (min-width: $screen-lg-min) {
        .text-box_portals {
          p {
            font-size: 20px;
            line-height: $line-height-small-screen;
            text-align: center;
          }
          h3 {
            font-size: 22px;
            line-height: $line-height-big-screen;
            padding-bottom: 0.5em;
            text-align: center;
          }
          padding: 2em;
        }
        .text-box_development {
          padding-top: 9vw;
          padding-bottom: 5vw;
          margin-top: -10vw;
        }
        .text-box_research {
            padding-top: 4vw;
            padding-bottom: 8vw;
            margin-top: 6vw;
        }
        .text-box_education {
          padding-top: 4vw;
          margin-top: -5vw;
        }
        .text-box_diy {
          padding-top: 4vw;
          padding-bottom: 5vw;
        }
      }
    }
      //End portals


    // Call to action buttons
    .btn-color-primary {
      background-color: #95C941;
    }

    .btn-color-secondary {
      background-color: #00BAFF;
    }

    // Section scroller
    .section-scroller {
      position: fixed;
      bottom: 0px;
      left: 100px;
      background: $bcGreen;
      cursor: pointer;
      font-size: 3em;
      padding-left: 0.1em;
      padding-right: 0.1em;
      line-height: 0.8em;
      border-top: solid 1px;
      border-left: solid 1px;
      border-right: solid 1px;
      z-index: 10;
    }

    // box for used by section

    .used_by_box, .used_by_box_text {
        padding: 1%;
        background-color: $used-by-background-color;
        border: 2px solid $body-bg;

        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: filter 2.0s, -webkit-filter 2.0s;
        &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            transition: filter 0.1s, -webkit-filter 0.1s;
        }

        height: 100px;
    }

    .used_by_box {
        img {
          object-position: 50% 50%;
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
    }

    .used_by_box_text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
    }

    @media (min-width: $screen-sm-min) {
        .used_by_box, .used_by_box_text {
            height: 75px;
        }
    }

    @media (min-width: $screen-md-min) {
        .used_by_box, .used_by_box_text {
            height: 100px;
            font-size: 25px;
        }
    }

    @media (min-width: $screen-lg-min) {
        .used_by_box, .used_by_box_text {
            height: 150px;
        }
    }

}
