.content-header,
.content-header-fluid {
	background-color: $bcGreen;
}

header.content-header {
	min-height: $header-height;
}

.content-header i {
    font-size: $header-font-size;
    text-align: center;
}

.repo-docs-header,
.repo-docs-header .content-header {
    background-color: $bcLighterGrey;
}

.repo-docs-content {
	font-family: "Droid Sans";
}
