// Dynamic menu used in tutorials
.left-menu {
    $padding-menu-top: 28px;
    .affix {
        $nav-cols-width: 4;
        // This width (for floating menu) is NOT the same as for the menu in "top" position. The reason is that
        // at the top position it is based on bs columns that have gutter, while when floating it is bsaed on the
        // body width. This width is just the body width deivided by the number of columns. The difference is
        // compensated for by the padding below. The width must be a relative (%) measurement, that's why it
        // becomes a bit complicated.
        width: percentage(($nav-cols-width / $grid-columns));
        $bs-full-width-without-outer-gutter: $site-width - $grid-gutter-width;
        $bs-4-cols-width-no-gutter: ($bs-full-width-without-outer-gutter * $nav-cols-width / $grid-columns) - $grid-gutter-width;
        $full-width-4-cols: $site-width * $nav-cols-width / $grid-columns;
        $diff: $full-width-4-cols - $bs-4-cols-width-no-gutter;
        padding-right: $diff;
        top: $content-area-padding-top;
        @media (min-width: $site-width + $grid-gutter-width) {
            width: ($site-width * $nav-cols-width / $grid-columns) - $grid-gutter-width + $diff;
        }
    }
    .affix-bottom {
        position: relative;
    }
    nav {
        text-align: right;
        margin-top: $padding-menu-top;
        a {
            padding: 0;
            color: $side-menu-link-color;
            font-weight: $nav-font-weight;
            transition: background-color 0.2s;
        }
        > ul {
            border-width: 0 1px 0 0;
            border-style: solid;
        }
        li {
            padding-right: 30px;
            margin-top: 10px;
            padding-bottom: 10px;
            list-style-type: none;
            ul {
                display: none;
                border-right: 3px solid $bcGreen;
                li {
                    padding-bottom: 0;
                }
            }
            :hover,
            :focus {
                background-color: inherit;
            }
            :hover {
                color: black;
            }
        }

        li.active > a {
            font-weight: $nav-font-weight-strong;
        }
        .active {
            ul {
                display: block;
            }
            .active {
                a {
                    background: $bcLighterGrey;
                    font-weight: $nav-font-weight;
                    transition: background-color 0.2s;
                }
            }
        }
    }
}

// Menu used in documentation
.repo-docs-menu {
    nav {
        text-align: right;
        font-weight: $nav-font-weight-strong;
        a {
            padding: 0;
            color: $side-menu-link-color;
            transition: background-color 0.2s;
        }
        > ul {
            border-width: 0 1px 0 0;
            border-style: solid;
        }
        li {
            padding-right: 30px;
            margin-top: 10px;
            padding-bottom: 10px;
            list-style-type: none;
            ul {
                font-weight: $nav-font-weight;
                border-right: 3px solid $bcGrey;
                li {
                    padding-bottom: 0;
                }
            }
            :hover,
            :focus {
                background-color: inherit;
            }
            :hover {
                color: black;
            }
        }
        .active {
            a {
                background: $bcLighterGrey;
                font-weight: $nav-font-weight;
                transition: background-color 0.2s;
            }
        }
    }
}
