// New front page

.front-page-new {
    img {
       max-width: 100%;
       height: auto;
    }
      .front-top-banner {
        background-image: url("/images/new_front/Flow_breakout.png");
        background-size: 100%;
        background-position: inherit;
        background-repeat: no-repeat;
        height: 550px;
      }
      .header_text {
          h1{
            display: none;
          }
          h3 {
            font-size: 3em;
            line-height: 1.2em;
            font-weight: 800;
            text-align: center;
            margin-top: 20%;
            margin-bottom: 20%;
            color:white;
        }
      }
      .button {
          display: none;
      }
      .btn-block {
        margin: auto;
        width: 80%;
        margin-bottom: 20px;
      }
      .text-box_value_proposition {
        h3{
          line-height: 24px;
          font-size: 16px;
          font-weight: 800;
          text-align: center;
          margin-top: 40px;
          padding-left: 10%;
          padding-right: 10%;
          color: white;
        }
          margin-top: 0px;
          padding: 0em;
          height: 0em;
          background: blue;
      }

    @media (min-width: $screen-sm-min) {
      .front-top-banner {
        background-image: url("/images/new_front/front.jpg");
        height: 600px;
      }

      .header_text {
          h1{
            display: none;
          }
          h3 {
            margin-top: auto;
            font-size: 45px;
            font-weight: 800;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 70px;
        }
      }

      .button {
          display: none;
      }

      .btn-block {
        margin: auto;
        width: 50%;
        margin-bottom: 20px;
      }

      .text-box_value_proposition {
        h3{
          line-height: 27px;
          font-size: 17px;
          font-weight: 800;
          text-align: center;
          margin-top: 20px;
          padding-left: 24%;
          padding-right: 24%;
        }
          margin-top: 0px;
          padding: 0em;
          height: 0em;
      }
    }

    @media (min-width: $screen-md-min) {
      .front-top-banner {
        height: 800px;
      }
      .header_text {
          h1 {
            font-size: 60px;
            font-weight: 800;
            display: block;
            margin-top: 150px;
            color: #95C941;
          }

          h3 {
            font-size: 60px;
            font-weight: 800;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 30px;
        }
      }
      .button {
          display: block;
      }
      .btn-block {
        width: 100%;
      }
      .text-box_value_proposition {
        h3{
          line-height: 28px;
          font-size: 18px;
          font-weight: 800;
          text-align: center;
          padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;
        }
          margin-top: 6vw;
          height: 280px;
          width: 100%;
          background: blue;
      }
    }

    // @media (min-width: 1100px) {
    //   .text-box_value_proposition {
    //     margin-top: 120px;
    //   }
    // }

    @media (min-width: 1200px) {
      .front-top-banner {
        height: 750px;
      }
      .text-box_value_proposition {
        h3{
          line-height: 32px;
          font-size: 21px;
          padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;
        }
        margin-top: 10vw;
        height: 350px;
        }
      }

      @media (min-width: 1400px) {
        .front-top-banner {
          height: 750px;
        }
        .text-box_value_proposition {
          h3{
            line-height: 35px;
            font-size: 22px;
            padding-top: 7%;
            padding-left: 5%;
            padding-right: 5%;
          }
          margin-top: 8vw;
          }
        }

      @media (min-width: 1600px) {
        .front-top-banner {
          height: 950px;
        }
        .text-box_value_proposition {
          h3{
            line-height: 36px;
            font-size: 22px;
            padding-top: 10%;
            padding-left: 7%;
            padding-right: 7%;
          }
          margin-top: 17vw;
          height: 400px;
        }
      }

  //Blog

    .blog-section {
      margin-top: 400px;
      margin-bottom: 100px;

      h2 {
        margin-bottom: 50px;
      }

      h3 {
        font-size: 22px;
      }

      .blog-img-container {
        height: 250px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
      }

      img {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
      }

      .menu-blog-container {
        margin-top: 30px;
        text-align: right;
        ul > li:nth-child(n+2) {
          border-left: 1px solid #dddddd;
        }

        .menu-item {
          list-style: none;
          display: inline-block;
          font-size: 1.2em;
          font-weight: 400;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

  //Testimonials

      .text-box_testimonial {

        h3{
          color: white;
          line-height: 45px;
          padding-top: 70px;
        }
          background: #FF0077;
          padding: 3em;
          height: 35em;
      }

      .testimonial-section {
        margin-top: 80px;
      }

      .testimonial_top {
        margin-top: 150px;
      }
      .testimonial_bottom {
        margin-top: 30px;
      }

      //Portals

      .portal-section_2 {
        margin-top: 100px;
        margin-bottom: 100px;
      }

      .portal_padding {
        padding-left: 0px;
        padding-right: 0px;
      }

      .text-box_portals {
        p, h3 {
          color: white;
        }
        h3 {
          line-height: 45px;
        }
          padding: 3em;
      }

      .portal_img_development {
        margin-top: 70px;

      }

      .text-box_development {
          background: #FD9724;
          height: 40em;
          margin-top: -100px;
          padding-top: 9em;
      }

      .text-box_research {
          background: #9600CC;
          height: 37em;
          margin-top: 100px;
      }

      .text-box_education {
          background: #1B7032;
          height: 30em;
          //margin-top: 300px;
      }

      .text-box_diy {
          background: #FF4400;
          height: 25em;
      }


    // Call to action buttons
    .btn-color-primary {
      background-color: #95C941;
    }

    .btn-color-secondary {
      background-color: #00BAFF;
    }

    // Section scroller
    .section-scroller {
      position: fixed;
      bottom: 0px;
      left: 100px;
      background: $bcGreen;
      cursor: pointer;
      font-size: 3em;
      padding-left: 0.1em;
      padding-right: 0.1em;
      line-height: 0.8em;
      border-top: solid 1px;
      border-left: solid 1px;
      border-right: solid 1px;
      z-index: 10;
    }
}
