.front-page-new {

    .front-top-banner {
      background-image: url("/images/new_front/front.jpg");
      background-size: 100%;
      background-position: inherit;
      background-repeat: no-repeat;
    }

    .header_text {
        h1 {
          padding-top: 10%;
          color: #95C941;
        }

        h3 {
          color:white;
        }
      }

      .text-box_value_proposition {
        h3{
          color: white;
        }
          background: blue;
      }

    @media (max-width: $screen-xs-max) {
      .front-top-banner {
        background-image: url("/images/new_front/Flow_breakout.png");
        height: 550px;
      }
      .hide_element {
        h1 {
          display: none;
        }
      }
      .header_text {
          h3 {
            font-size: 30px;
            font-weight: 800;
            text-align: center;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      .front-top-banner {
        height: 600px;
      }
      .header_text {
          h1 {
            font-size: 60px;
            font-weight: 800;
          }

          h3 {
            font-size: 60px;
            font-weight: 800;
        }
      }
    }

    @media (min-width: $screen-md-min) {
      .front-top-banner {
        height: 800px;
      }
      .header_text {
          h1 {
            font-size: 60px;
            font-weight: 800;
          }

          h3 {
            font-size: 60px;
            font-weight: 800;
        }
      }
      .text-box_value_proposition {
        h3{
          line-height: 40px;
        }
          margin-top: 37px;
          padding: 2em;
          height: 30em;
      }
    }

    @media (min-width: 1600px) {
      .front-top-banner {
        height: 1000px;
        }
      .header_text {
        h1, h3 {
            font-size: 80px;
            font-weight: 800;
          }
        }

        .text-box_value_proposition {
          h3{
            line-height: 45px;
          }
            margin-top: 230px;
            padding: 2em;
            height: 35em;
        }
      }

  //Blog

    .blog-section {
      margin-top: 400px;
      margin-bottom: 100px;

      h2 {
        margin-bottom: 50px;
      }

      h3 {
        font-size: 22px;
      }

      .blog-img-container {
        height: 250px;
        vertical-align: middle;
        display: table-cell;
      }

      img {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
      }

      .menu-blog-container {
        margin-top: 30px;
        text-align: right;
        ul > li:nth-child(n+2) {
          border-left: 1px solid #dddddd;
        }

        .menu-item {
          list-style: none;
          display: inline-block;
          font-size: 1.2em;
          font-weight: 400;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

  //Testimonials

      .text-box_testimonial {

        h3{
          color: white;
          line-height: 45px;
          padding-top: 70px;
        }
          background: #FF0077;
          padding: 3em;
          height: 35em;
      }

      .testimonial-section {
        margin-top: 80px;
      }

      .testimonial_top {
        margin-top: 150px;
      }
      .testimonial_bottom {
        margin-top: 30px;
      }

      //Portals

      .portal-section_2 {
        margin-top: 100px;
        margin-bottom: 100px;
      }

      .portal_padding {
        padding-left: 0px;
        padding-right: 0px;
      }

      .text-box_portals {
        p, h3 {
          color: white;
        }
        h3 {
          line-height: 45px;
        }
          padding: 3em;
      }

      .portal_img_development {
        margin-top: 70px;

      }

      .text-box_development {
          background: #FD9724;
          height: 40em;
          margin-top: -100px;
          padding-top: 9em;
      }

      .text-box_research {
          background: #9600CC;
          height: 37em;
          margin-top: 100px;
      }

      .text-box_education {
          background: #1B7032;
          height: 30em;
          //margin-top: 300px;
      }

      .text-box_diy {
          background: #FF4400;
          height: 25em;
      }


    // Call to action buttons
    .btn-color-primary {
      background-color: #95C941;
    }

    .btn-color-secondary {
      background-color: #00BAFF;
    }
}
