// All pages
.content-area {
    padding-top: $content-area-padding-top;
    padding-bottom: $content-area-padding-bottom;
    // Make sure images and video are not wider than the page
    img {
        max-width: 100%;
        height: auto;
    }
    li {
        padding-bottom: 7px;
    }
}

.media-row-base {
    margin-top: 20px;
    margin-bottom: 20px;
    img {
        width: 100%;
    }
}

.media-row-narrow {
    @extend .media-row-base;
    @media (min-width: $screen-xs-min) {
        width: 20%;
        margin-left: 40%;
    }
}

.media-row-medium {
    @extend .media-row-base;
    @media (min-width: $screen-xs-min) {
        width: 50%;
        margin-left: 25%;
    }
}

.media-row-wide {
    @extend .media-row-base;
    @media (min-width: $screen-xs-min) {
        width: 100%;
        margin-left: 0;
    }
}

.img-circle-border {
    @extend .img-circle;
    border: 6px solid $bcGreen;
}

.outer-vine {
    @extend .embed-responsive;
    @extend .embed-responsive-1by1;
}

.inner-vine {
    @extend .embed-responsive-item;
}

table {
    @extend .table;
    @extend .table-bordered;
}

.collapse-section {
  a {
    line-height: 2;
  }
}

.buy-button {
  line-height: 2;
}

// Team member
.team {
    margin-bottom: 50px;
    h2 {
        margin-top: 0px;
    }
    img {
        border: 2px solid $bcGreen;
        border-radius: 20%;
    }
}

// 404 page
.img-404 {
    width: 100%;
}

// Front page


.front-page {
    h1,
    h2,
    h3 {
        color: $bcGreen;
    }

    img {
        width: 100%;    
    }

    .fp-blog {
        border-top: 1px solid $bcLightGrey;
        border-bottom: 1px solid $bcLightGrey;
    }

    .front-top-banner {
        background-image: url("/images/frontpage/top-gradient.png");
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .semi-transparent {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .used-by-section {
        border-top: 1px solid $bcLightGrey;
    }

    .used_by {
        vertical-align: middle;
        margin: 15px;
        display: inline-block;
        font-size: 35px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: filter 0.5s, -webkit-filter 0.5s;
        &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            transition: filter 0.5s, -webkit-filter 0.5s;
        }
    }

    .used_by_narrow {
        width: 100px;
        }
        
    .header_text {
        h1 {
            font-size: 450%;
            font-weight: 550;
            letter-spacing: 4px;
        }

        h3 {
            color: $bcDarkGrey;
            font-weight: 600;
        }

    }


    .used_by_medium {
        width: 200px;
    }

    .header_text {
        h1 {
            font-size: 450%;
        }
    }

    .portal-section {
        h2 {
            margin-top: 10px;
            width: 100%;
        }
        p {
            font-size: 18px;
        }
        .learn-more a {
          font-weight: 400;
        }
    }

    .portal-left {
        @extend .portal-section;

        background-color: $portal-background-color;

        h2, p {
            text-align: left;
        }
    }

    .portal-right {
        @extend .portal-section;

        h2, p {
            text-align: right;
        }

        .learn-more {
          width: 100%;
          a {
            float: right;
          }
        }
    }

    .portalexample {
        p {
            color: $bcGreen;
            font-weight: bold;
        }
    }
    
    .col-content-center {
        @media (min-width: $screen-md-min) {
            height: 370px;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-content: center;
            align-content: center;
        }
    }
}


// Page - Product
.page-product {
    padding-bottom: 20px;
    .pp-main-image-base {
        margin-bottom: 10px;
        width: 100%;
    }
    .pp-main-image-narrow {
        @extend .pp-main-image-base;
        @media (min-width: $screen-xs-min) {
            width: 20%;
            margin-left: 40%;
        }
    }
    .pp-main-image-medium {
        @extend .pp-main-image-base;
        @media (min-width: $screen-xs-min) {
            width: 50%;
            margin-left: 25%;
        }
    }
    .pp-main-image-wide {
        @extend .pp-main-image-base;
        width: 80%;
        margin-left: 10%;
    }
    .pp-catch-phrase {
        @extend h4;
    }
    button {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        a {
            color: white;
        }
        i {
            padding-right: 30px;
        }
    }
    .carousel {
        margin-bottom: 30px
    }
    .carousel-control {
        background-image: initial;
        color: $bcGreen;
        opacity: initial;
        text-shadow: none;
    }
    .carousel-inner {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-indicators {
        bottom: -30px;
        .active {
            background-color: $bcGreen;
        }
        li {
            border-color: $bcLightGrey;
        }
    }
    .bc-fa-fw {
        width: 1.5em;
        text-align: center;
    }
}

// Modifier class for 1:1 aspect ratio
.embed-responsive-1by1 {
    padding-bottom: 100%;
}

// Distributors
.distributor-continent:not(:first-of-type) {
    @media (min-width: $screen-xs-min) {
        margin-top: 30px;
    }
    @media (min-width: $screen-md-min) {
        margin-top: 100px;
    }
}
.content-area .distributor-logo {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}


// Step instruction
.step-instruction-intro {
    p {
        font-weight: 400;
    }

    h2 {
        font-size: 200%;
        font-weight: 500;
    }
}
.step-instruction-info-step {
    margin-bottom: 50px;

    @media (min-width: $screen-xs-min) {
        margin-bottom: 100px;
    }

    h3 {
        font-size: 150%;
        border-width: 0 0 1px 0;
        border-style: solid;
    }
}


// Tutorials
.tutorial-download-list {
    width: 100%;
    display: table;
    table-layout: fixed;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    padding-top: 4px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-top: solid 1px $table-line-color;
    border-bottom: solid 1px $table-line-color;
    text-align: center;
    li {
        @media (min-width: $screen-xs-min) {
            display: table-cell;
        }
    }
}

 // Page-Portals
.page-portal {
    .media-row-medium {
        width: 49.6%;
        display: inline-block;
        margin-left: 0;

        @media (max-width: $screen-xs-max) {
            width: 100%;            
        }
    }
}

