// All pages
.content-area {
    padding-top: $content-area-padding-top;
    padding-bottom: $content-area-padding-bottom;
    // Make sure images and video are not wider than the page
    img {
        max-width: 100%;
        height: auto;
    }
    li {
        padding-bottom: 7px;
    }
}

.media-row-base {
    margin-top: 20px;
    margin-bottom: 20px;
    img, video {
        width: 100%;
    }
}

.media-row-narrow {
    @extend .media-row-base;
    @media (min-width: $screen-xs-min) {
        width: 20%;
        margin-left: 40%;
    }
}

.media-row-medium {
    @extend .media-row-base;
    @media (min-width: $screen-xs-min) {
        width: 50%;
        margin-left: 25%;
    }
}

.media-row-wide {
    @extend .media-row-base;
    @media (min-width: $screen-xs-min) {
        width: 100%;
        margin-left: 0;
    }
}

// Keep media to the left on portal and product pages. The slightly smaller
// width is to keep media the same size as in the video gallery that uses 2 columns
.page-portal, .page-product {
    .media-row-medium {
        width: 48.5%;
        margin-left: 0;

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }
}


.media-gallery > div > div {
  padding-bottom: 20px;
}

.img-circle-border {
    @extend .img-circle;
    border: 6px solid $bcGreen;
}

.video-item-delayed-load {
  background-size: 100%!important;
  background-position: center!important;
  text-align: center;
  cursor: pointer;

  i {
    color: white;
    top: 39%;
    position: relative;
  }
}

table {
    @extend .table;
    @extend .table-bordered;
}

.collapse-section {
  a {
    line-height: 2;
  }
}

.buy-button {
  line-height: 2;
  float: right;
}

// Team member
.team {
    margin-bottom: 50px;
    h2 {
        margin-top: 0px;
    }
    img {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

// 404 page
.img-404 {
    width: 100%;
}

// Page - Product
.page-product {
    padding-bottom: 20px;
    .pp-main-image-base {
        margin-bottom: 10px;
        width: 100%;
    }
    .pp-main-image-narrow {
        @extend .pp-main-image-base;
        @media (min-width: $screen-xs-min) {
            width: 20%;
            margin-left: 40%;
        }
    }
    .pp-main-image-medium {
        @extend .pp-main-image-base;
        @media (min-width: $screen-xs-min) {
            width: 50%;
            margin-left: 25%;
        }
    }
    .pp-main-image-wide {
        @extend .pp-main-image-base;
        width: 80%;
        margin-left: 10%;
    }
    .pp-catch-phrase {
        @extend h4;
    }
    button {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        a {
            color: white;
        }
        i {
            padding-right: 30px;
        }
    }
    .carousel {
        margin-bottom: 30px
    }
    .carousel-control {
        background-image: initial;
        color: $bcGreen;
        opacity: initial;
        text-shadow: none;
    }
    .carousel-inner {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-indicators {
        bottom: -30px;
        .active {
            background-color: $bcGreen;
        }
        li {
            border-color: $bcLightGrey;
        }
    }
    .bc-fa-fw {
        width: 1.5em;
        text-align: center;
    }
}

// Modifier class for 1:1 aspect ratio
.embed-responsive-1by1 {
    padding-bottom: 100%;
}

// Distributors
.distributor-continent:not(:first-of-type) {
    @media (min-width: $screen-xs-min) {
        margin-top: 30px;
    }
    @media (min-width: $screen-md-min) {
        margin-top: 100px;
    }
}
.content-area .distributor-logo {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}


// Step instruction
.anchor-link {
    font-size: 0.7rem;
    padding-left: 1rem;
    vertical-align: middle;
    visibility: hidden;
    color: $bcLightGrey;
}
.step-instruction-intro {
    p {
        font-weight: 400;
    }

    h2 {
        font-size: 200%;
        font-weight: 500;
    }

    h2:hover {
      .anchor-link {
        visibility: visible;
      }
    }
}
.step-instruction-info-step {
    margin-bottom: 50px;

    @media (min-width: $screen-xs-min) {
        margin-bottom: 100px;
    }

    h3 {
        font-size: 150%;
        border-width: 0 0 1px 0;
        border-style: solid;
    }

    h3:hover {
      .anchor-link {
        visibility: visible;
      }
    }
}

// Tutorials
.tutorial-download-list {
    width: 100%;
    display: table;
    table-layout: fixed;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    padding-top: 4px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-top: solid 1px $table-line-color;
    border-bottom: solid 1px $table-line-color;
    text-align: center;
    li {
        @media (min-width: $screen-xs-min) {
            display: table-cell;
        }
    }
}

.img-float-right {
    width:35%;
    height:35%;
    float: right;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 30px;
}

 // font awesome

.font-awesome-color i {
    color:blue;
}

// portals

.portal-img {
  padding-right: 10%;
}

