---
layout: page-front
title: Home
permalink: /new/
page_id: home
---

<div class="container-fluid">
    <div class="row content-area">
        <div class="col-md-6">
            <h1>Make your ideas fly!</h1>
            <h2>A flying open development platform</h2>
        </div>
        <div class="col-md-6">
            <h1>From the blog</h1>
            <h2>Bitcraze at FOSDEM 16 and flying pixel</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed rhoncus leo. Nunc bibendum quis odio id pretium. Proin felis enim, cursus et purus quis, consequat mollis ante. Sed porttitor dictum convallis. Donec tellus justo, rhoncus ut metus ac, malesuada vestibulum dui. Vestibulum rhoncus erat a massa imperdiet, sed auctor lectus ultrices. Nulla facilisi.
            </p>
        </div>
    </div>
</div>

{% include index-portal-left.html portalheader="Used in research" portalimg="/images/BreakOutMounted2.png" portaltext="
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed rhoncus leo. Nunc bibendum quis odio id pretium. Proin felis enim, cursus et purus quis, consequat mollis ante. Sed porttitor dictum convallis. Donec tellus justo, rhoncus ut metus ac, malesuada vestibulum dui. Vestibulum rhoncus erat a massa imperdiet, sed auctor lectus ultrices. Nulla facilisi.
"%}

{% include index-portal-right.html portalheader="Used in education" portalimg="/images/FrontPicHand2.png" portaltext="
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed rhoncus leo. Nunc bibendum quis odio id pretium. Proin felis enim, cursus et purus quis, consequat mollis ante. Sed porttitor dictum convallis. Donec tellus justo, rhoncus ut metus ac, malesuada vestibulum dui. Vestibulum rhoncus erat a massa imperdiet, sed auctor lectus ultrices. Nulla facilisi.
"%}

{% include index-portal-left.html portalheader="Used in development" portalimg="/images/BreakOutMounted.png" portaltext="
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed rhoncus leo. Nunc bibendum quis odio id pretium. Proin felis enim, cursus et purus quis, consequat mollis ante. Sed porttitor dictum convallis. Donec tellus justo, rhoncus ut metus ac, malesuada vestibulum dui. Vestibulum rhoncus erat a massa imperdiet, sed auctor lectus ultrices. Nulla facilisi.
"%}

{% include index-portal-right.html portalheader="Do it yourself" portalimg="/images/d-i-y-portal.jpg" portaltext="
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed rhoncus leo. Nunc bibendum quis odio id pretium. Proin felis enim, cursus et purus quis, consequat mollis ante. Sed porttitor dictum convallis. Donec tellus justo, rhoncus ut metus ac, malesuada vestibulum dui. Vestibulum rhoncus erat a massa imperdiet, sed auctor lectus ultrices. Nulla facilisi.
"%}

<div class="container-fluid">
    <div class="row content-area">
        <div class="col-md-12">


<h2>Used by</h2>

{% used_by NASA; /images/logos/nasa.png %}
{% used_by MIT; /images/logos/mit.svg %}


        </div>
    </div>
</div>
